html{
    scroll-behavior: smooth;
}
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px;
    z-index: 999;
}
.navbar-dark{
    background-color: rgba(0, 0, 0, 0.3) !important;
}
.text-size{
    font-size: 1.5rem;
    font-weight: bold;
}
nav ul a{
    transition: 0.4s all;
}
nav ul a:hover{
    border-bottom: 3px solid white;
}
#home{
    background-image: url('../images/intro-bg.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 100vh;
    position: relative;
}
.home_layer{
    width: inherit;
    height: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;    
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.layer_body{
    text-align: center;
}
.layer_body h1{
    font-size: 70px;
}
.layer_tail{
    text-align: center;
}
/* .home_body */
.layer_tail h2::after{
    content: "";
    position: relative;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    animation: homeAnimation 20s infinite;
}
@keyframes homeAnimation{
    0%{content: "|";}
    1%{content: "C|";}
    2%{content: "CE|";}
    3%{content: "CEO|";}
    4%{content: "CEO |";}
    5%{content: "CEO D|";}
    6%{content: "CEO DE|";}
    7%{content: "CEO DEV|";}
    8%{content: "CEO DEVF|";}
    9%{content: "CEO DEVFO|";}
    10%{content: "CEO DEVFOL|";}
    11%{content: "CEO DEVFOLI|";}
    12%{content: "CEO DEVFOLIO|";}

    15%{content: "CEO DEVFOLI|";}
    15.5%{content: "CEO DEVFOL|";}
    16%{content: "CEO DEVFO|";}
    16.5%{content: "CEO DEVF|";}
    17%{content: "CEO DEV|";}
    17.5%{content: "CEO DE|";}
    18%{content: "CEO D|";}
    18.5%{content: "CEO|";}
    19%{content: "CE|";}
    19.5%{content: "C|";}
    20%{content: "|";}

    23%{content: "W|";}
    24%{content: "WE|";}
    25%{content: "WEB|";}
    26%{content: "WEB |";}
    27%{content: "WEB D|";}
    28%{content: "WEB DE|";}
    29%{content: "WEB DEV|";}
    30%{content: "WEB DEVE|";}
    31%{content: "WEB DEVEL|";}
    32%{content: "WEB DEVELO|";}
    33%{content: "WEB DEVELOP|";}
    34%{content: "WEB DEVELOPE|";}
    35%{content: "WEB DEVELOPER|";}

    38%{content: "WEB DEVELOPE|";}
    38.5%{content: "WEB DEVELOP|";}
    39%{content: "WEB DEVELO|";}
    39.5%{content: "WEB DEVEL|";}
    40%{content: "WEB DEVE|";}
    40.5%{content: "WEB DEV|";}
    41%{content: "WEB DE|";}
    41.5%{content: "WEB D|";}

    43%{content: "WEB DE|";}
    44%{content: "WEB DES|";}
    45%{content: "WEB DESI|";}
    46%{content: "WEB DESIG|";}
    47%{content: "WEB DESIGN|";}
    48%{content: "WEB DESIGNE|";}
    49%{content: "WEB DESIGNER|";}

    49.5%{content: "WEB DESIGNE|";}
    50%{content: "WEB DESIGN|";}
    50.5%{content: "WEB DESIG|";}
    51%{content: "WEB DESI|";}
    51.5%{content: "WEB DES|";}
    52%{content: "WEB DE|";}
    52.5%{content: "WEB|";}
    53%{content: "WE|";}
    53.5%{content: "W|";}
    54%{content: "|";}

    57%{content: "F|";}
    58%{content: "FR|";}
    59%{content: "FRO|";}
    60%{content: "FRON|";}
    61%{content: "FRONT|";}
    62%{content: "FRONT-|";}
    63%{content: "FRONT-E|";}
    64%{content: "FRONT-EN|";}
    65%{content: "FRONT-END|";}
    66%{content: "FRONT-END D|";}
    67%{content: "FRONT-END DE|";}
    68%{content: "FRONT-END DEV|";}
    69%{content: "FRONT-END DEVE|";}
    70%{content: "FRONT-END DEVEL|";}
    71%{content: "FRONT-END DEVELO|";}
    72%{content: "FRONT-END DEVELOP|";}
    73%{content: "FRONT-END DEVELOPE|";}
    74%{content: "FRONT-END DEVELOPER|";}

    77%{content: "FRONT-END DEVELOPE|";}
    77.5%{content: "FRONT-END DEVELOP|";}
    78%{content: "FRONT-END DEVELO|";}
    78.5%{content: "FRONT-END DEVEL|";}
    79%{content: "FRONT-END DEVE|";}
    79.5%{content: "FRONT-END DEV|";}
    80%{content: "FRONT-END DE|";}
    80.5%{content: "FRONT-END D|";}
    81%{content: "FRONT-END|";}
    81.5%{content: "FRONT-EN|";}
    82%{content: "FRONT-E|";}
    82.5%{content: "FRONT|";}
    83%{content: "FRON|";}
    83.5%{content: "FRO|";}
    84%{content: "FR|";}
    84.5%{content: "F|";}
    85%{content: "|";}

    85.5%{content: "G|";}
    86.5%{content: "GR|";}
    87%{content: "GRA|";}
    87.5%{content: "GRAP|";}
    88%{content: "GRAPH|";}
    88.5%{content: "GRAPHI|";}
    89%{content: "GRAPHIC|";}
    89.5%{content: "GRAPHIC D|";}
    90%{content: "GRAPHIC DE|";}
    90.5%{content: "GRAPHIC DES|";}
    91%{content: "GRAPHIC DESI|";}
    91.5%{content: "GRAPHIC DESIG|";}
    92%{content: "GRAPHIC DESIGN|";}
    92.5%{content: "GRAPHIC DESIGNE|";}
    93%{content: "GRAPHIC DESIGNER|";}

    93.5%{content: "GRAPHIC DESIGNE|";}
    94%{content: "GRAPHIC DESIGN|";}
    94.5%{content: "GRAPHIC DESIG|";}
    95%{content: "GRAPHIC DESI|";}
    95.5%{content: "GRAPHIC DES|";}
    96%{content: "GRAPHIC DE|";}
    96.5%{content: "GRAPHIC D|";}
    97%{content: "GRAPHIC|";}
    97.5%{content: "GRAPH|";}
    98%{content: "GRAP|";}
    98.5%{content: "GRA|";}
    99%{content: "GR|";}
    99.5%{content: "G|";}
    100%{content: "|";}


}

.dataSection{
    background-color: #F5F5F5;
    overflow: auto;
}
.dataSection .container{
    background-color: white;
}
.percentage{
    display: flex;
    justify-content: space-between;
}
.smallhr{
    background-color: blue;
    width: 5rem;
    height: 2px;
    float: left;
}
.smallhrMiddle{
    background-color: blue;
    width: 5rem;
    height: 2px;
}
.clr{
    clear: both;
}
.rightDataAboutme p{
    color: teal;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shadow-box{
    box-shadow: 0 0 1px teal;
}
.headerName{
    text-align: center;
}
.headerName p{
    color: teal;
}
.cardData{
    text-align: center;
    padding: 5px;
}
.circle-sized{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: auto;
    color: black;
    border: 10px solid blueviolet;
    border-radius: 50%;
    transition: 0.5s all;
}
.circle-sized:hover{
    background-color: blueviolet;
    border: 10px solid #e4d1d1;
    box-shadow: 0 0 2px ;
}
.my-row-bg{
    background-color: #f5f5f5;
}
.my-col-bg{
    background-color: white;
    border-radius: 5px;
}
.circle-sm{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    margin: auto;
    color: white;
    border: 7px solid white;
    border-radius: 50%;
    padding: 15px;
}
.websiteData{
    overflow: auto;
    height: 70vh;
    background-image: url('../images/counters-bg.jpg');
    background-attachment: fixed;
    position: relative;
    
}
.websiteData .cardData{
    color: white;
}
.blueLayer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: rgba(0, 85, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardContainer{
    padding: 15px 10px;
}
.ovefl{
    overflow: hidden;
}
.cardContainer .card img{
    transition: 1s all;
}
.cardContainer .card:hover img{
    transform: scale(1.3);
}
.cardContainer .card{
    cursor: pointer;
}
.cardContainer span{
    color: blue;
}
.card-body p{
    float: left;
}
#work{
    overflow: auto;
}
.circle{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    border: 1.5px solid blueviolet;
    float: right;
}
.members{
    width: 100%;
    height: 90vh;
    background-image: url('../images/overlay-bg.jpg');
    background-attachment: fixed;
    position: relative;
    border: 1px transparent;
    overflow: auto;
}
.top{
    align-items: flex-start;
}
.blueLayerBody{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 60%;
    text-align: center;
}
.fa-quote-right{
    background-color: white;
    border-radius: 50%;
    color: blueviolet;
    padding: 10px;
}
.indicators{
    position: relative;
    top: 50px;
    left: 0px;
    background-color: black;
}
#blog{
    background-color: #f5f5f5;
}
.card-tail{
    border-top: 1px solid teal;
    background-color: #f5f5f5;
}
.card a{
    text-decoration: none;
    color: black;
    transition: 1s all;
}
.card a:hover{
    color: blueviolet;
}
.card-tail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-tail img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.card-tail .name{
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    transition: 1s all;    
}
.card-tail .name:hover{
    color: blueviolet;
}
.card-body{
    position: relative;
}
.badge-primary{
    position: absolute;
    bottom: 90%;
    left: 42%;
}
#contact{
    background-image: url('../images/overlay-bg.jpg');
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
}

form input{
    width: 100%;
    height: 45px;
    margin-top: 40px;
}
form input:focus{
    box-shadow: 0 0 5px black;
}
form textarea{
    width: 100%;
    height: 100px;
}
form textarea:focus{
    box-shadow: 0 0 5px black;
}
form button{
    padding: 15px !important;
    border-top-left-radius: 60% !important;
    border-bottom-left-radius: 60% !important;
    border-top-right-radius: 60% !important;
    border-bottom-right-radius: 60% !important;
}
.list .listitems{
    display: flex;
    justify-content: start;
}
.list .listitems i{
    color: blueviolet;
    margin-right: 10px;
}
.links{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.links i{
    margin-right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid blueviolet;
    transition: 0.5s all;
    cursor: pointer;
}
.links i:hover{
    background-color: blueviolet;
    border: 3px solid #F5F5F5;
    box-shadow: 0 0 3px;
}